name: Format Lint

on: 
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [main]
jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - name: Module 1 - nodejs-intro
      run: |
        cd nodejs-intro
        npm install
        npm run format
        npm run lint
    - name: Module 3 - node-dependencies
      run: |
        cd node-dependencies
        npm install
        npm run format
        npm run lint
        npm test